.collection {
    background-image: url('../../assets/images/bgdocc.jpg');
    background-size: cover;
    background-position: center;
    height: fit-content;
    margin: 1.1rem;

}

img {
    max-width: 15rem;
    height: 15rem;
    padding-top: 10px;
}