<nav class="navbar navbar-expand-lg navbar-black bg-black m-3">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="">
                <img src="../../assets/images/hospitalLogo.webp" alt="">
                <a class="fw-bold " href="#">Doctor Patient Management</a>
            </li>

            <li class="nav-item mt-2 ms-3">
                <span *ngIf="userName" class="text-danger fw-bold nav-link"> Welcome:- <span
                        class="text-primary">{{userName}}</span>
                </span>
            </li>
            <li *ngIf="role==='doctor' " class="nav-item  btn btn-success ms-3 btn-sm mt-3 ">
                <a class="nav-link " href="home/adddoctor">MyProfile</a>
            </li>
        </ul>
        <div class=" navbar" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ebtn">
                    <a class="nav-link fw-bold" href="home/doctorman">Doctor Management</a>
                </li>
                <li class="nav-item ebtn">
                    <a class="nav-link fw-bold" href="home/viewactivedoctor">ViewActiveDoctors</a>
                </li>
                <li class="nav-item ebtn">
                    <a class="nav-link fw-bold" href="home/patientman">PatientManagement</a>
                </li>
                <li class="nav-item ebtn">
                    <a class="nav-link fw-bold" href="home/appointment">Appointment</a>
                </li>
                <li class="nav-item btn btn-success">
                    <a class="nav-link  " (click)="Login()">Login</a>
                </li>
                <li class="nav-item btn btn-danger ms-2">
                    <a class="nav-link" (click)="Logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>