<app-navbar></app-navbar>
<div class="collection">
    <div *ngIf="errMsg.length<1">
        <p class="h3 text-danger fw-bold ms-3 mb-2">Add NewPatient
            <a class="btn btn-danger bt btn-sm" routerLink="/home/addpatient">
                <i class="fa fa-plus-circle"></i> New</a>
        </p>
        <div class="allcontact ms-3">
            <div class="doctorCard" *ngFor="let m of patients">
                <p><b>PatientID:-</b>{{m.pid}}</p>
                <p><b>PatientName:-</b>{{m.pname}}</p>
                <p><b>PatientLocation:-</b>{{m.plocation}}</p>
                <p><b>PatientIssue:-</b>{{m.pissue}}</p>
                <button class="btn btn-danger ms-2" (click)="deletePatient(m.pid)">DeletePatient</button>
                <a href="home/updatepatient/{{m.pid}}" class="btn btn-primary mt-1 ms-2">UpdatePatient</a>
            </div>
        </div>

    </div>
</div>
<div *ngIf="errMsg.length>1" class=" denied ms-3 me-3">
    <!-- <h3 class="fw-bold text-danger ms-3">{{errMsg}}</h3> -->
    <div class="text-wrapper">
        <div class="title" data-content="404">
            401 - ACCESS DENIED
        </div>

        <div class="subtitle">
            Oops, You don't have permission to access this page.
        </div>
        <div class="isi">
            A web server may return a 401 Forbidden HTTP status code in response to a request from a client for a web
            page or resource to indicate that the server can be reached and understood the request, but refuses to take
            any further action. Status code 403 responses are the result of the web server being configured to deny
            access, for some reason, to the requested resource by the client.
        </div>

        <div class="buttons">
            <a class="button" href="home">Go to homepage</a>
        </div>
    </div>
</div>

<app-footer></app-footer>