.main {
    margin-top: 20px;
    border: .1rem solid black;
    display: flex;
    margin: 1rem;
    width: fit-content;
    color: white;
    background-color: black;

}

img {
    max-width: 30rem;
    max-height: 20rem;
    padding: .5rem;
}

/* ======================================================ddddddddddddd */