<app-navbar></app-navbar>
<h1 class="fw-bold text-black ms-3">Doctor Patient Management</h1>

<div class="main">
    <img src="../../assets/images/hosimggg.jpeg" alt="">
    <p class="fw-bold mt-4">The Doctor-Patient Management System app provides a secure platform for patients to store
        and
        access their medical records. Patients can upload and manage their health information, including previous
        diagnoses, allergies, medications, lab reports, and vaccination records. This feature ensures that doctors have
        comprehensive and up-to-date information about their patients' medical history, leading to more accurate
        diagnoses and personalized treatments.</p>
</div>
<div class="main">
    <p class="fw-bold mt-4">The Doctor-Patient Management System app provides a secure platform for patients to store
        and
        access their medical records. Patients can upload and manage their health information, including previous
        diagnoses, allergies, medications, lab reports, and vaccination records. This feature ensures that doctors have
        comprehensive and up-to-date information about their patients' medical history, leading to more accurate
        diagnoses and personalized treatments.</p>
    <img src="../../assets/images/hospital.jpeg" alt="">

</div>


<app-footer></app-footer>