.main {
    width: fit-content;
    padding: 2rem;
}

.collection {
    background-image: url('../../assets/images/bgdocc.jpg');
    background-size: cover;
    background-position: center;
    height: fit-content;
    margin: 1.1rem;

}